body {
    margin: 0;
}

#map {
    height: 100%;
    width: 100%;
    background-color: #ffffff
}

.titulo {
    background-color: red;
    opacity: 85%;
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    left: 400px;
    top: 20px;
    z-index: 500;
    height: 56px;
    padding: 25px;
    border: solid 4px black;
    border-radius: 12px;}

.tÍtoL_terr {    background-color:greenyellow;
    opacity: 85%;
    font-size: 50px;
    font-weight: bolder;
    position: absolute;
    left: 600px;
    top: 20px;
    z-index: 500;
    height: 56px;
    padding: 25px;
    border: solid 2px black;
    border-radius: 16px;}

    .panelTopIzquierda {
        position: absolute;
        top: 45px;
        left: 20px;
        width: 200px;
        z-index: 1000;
        background-color: rgba(255,255,255,0.9);
        padding: 10px;
        font-size:20px;
        color: #333333;
        border-radius: 5px;
    }
    
    .panelTopIzquierda label{
        font-size:0.85em;
    }
    
    .panelTopIzquierda input{
        cursor:pointer;
    }
    .numberOfFloorsAboveGround {color:red}
